<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/tabs/news"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">เช็คราคาพัสดุ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none" [routerLink]="[ '/search-location' ]"> 
    <ion-label>ที่อยู่ผู้ส่ง</ion-label> 
    <ion-select> 
    <!-- <ion-select-option value="light">Light</ion-select-option> 
    <ion-select-option value="fair">Fair</ion-select-option> 
    <ion-select-option value="wheatish">Wheatish</ion-select-option> 
    <ion-select-option value="dark">Dark</ion-select-option>  -->
    </ion-select> 
    </ion-item> 
    <ion-item lines="none"> 
      <ion-label>ที่อยู่ผู้รับ</ion-label> 
      <ion-select> 
      <!-- <ion-select-option value="light">Light</ion-select-option> 
      <ion-select-option value="fair">Fair</ion-select-option> 
      <ion-select-option value="wheatish">Wheatish</ion-select-option> 
      <ion-select-option value="dark">Dark</ion-select-option>  -->
      </ion-select> 
      </ion-item> 
      <ion-item lines="none">
        <ion-label fixed>น้ำหนัก</ion-label>
        <ion-input type="number" style="text-align: right;"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-grid>
          <ion-row class="ion-text-center">
            <ion-col size="3">
              <ion-label fixed>กว้าง</ion-label>
              <ion-input type="number"  placeholder="CM"></ion-input>
            </ion-col>
            <ion-col size="1" style="display: flex !important;
            justify-content: center !important;
            align-items: flex-end !important;
            top: -11px;">
              X
            </ion-col>
            <ion-col size="3">
              <ion-label fixed>ยาว</ion-label>
              <ion-input type="number"  placeholder="CM"></ion-input>
            </ion-col>
            <ion-col size="1" style="display: flex !important;
            justify-content: center !important;
            align-items: flex-end !important;
            top: -11px">
              X
            </ion-col>
            <ion-col size="3">
              <ion-label fixed>สูง</ion-label>
              <ion-input type="number"  placeholder="CM"></ion-input>
            </ion-col>
          
            <!-- <ion-col size="3">
              <ion-col>
                <ion-input type="number" placeholder="L"></ion-input>
              </ion-col>
              <ion-label >CM</ion-label>
            </ion-col>
          
            <ion-col size="3">
              <ion-col>
                <ion-input type="number" placeholder="L"></ion-input>
              </ion-col>
              <ion-label >CM</ion-label>
            </ion-col> -->
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-button expand="block" class="ion-margin">
      ตกลง
    </ion-button>

</ion-content>
