<ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text='back' defaultHref="/tabs/delivery"></ion-back-button>
      </ion-buttons>
      <ion-title>driver</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-list lines="none">
        <ng-container >
            <!-- <h4 *ngIf="index === 0">Booking</h4> -->
         
          
          <ion-item button routerLink="map" routerDirection="forward">
            <!-- <ion-icon color="primary" slot="start" name="set.icon"></ion-icon> -->
            <ion-label>ระบุตำแหน่งที่เข้ารับ</ion-label>
          </ion-item>
        </ng-container>
        <!-- <ion-item-divider></ion-item-divider>
        <ion-item button detail="false" [routerLink]="[ '/auth', 'login' ]" routerDirection="root">
          <ion-label color="danger">test</ion-label>
        </ion-item>
        <ion-item-divider></ion-item-divider> -->
      </ion-list>
</ion-content>
