<ion-header class="ion-no-border">
    <ion-toolbar>
      <!-- <ion-buttons slot="start">
        <ion-back-button text="'test" defaultHref="/tabs/delivery"></ion-back-button>
      </ion-buttons> -->
      <ion-title class="ion-text-center">ส่งพัสดุ</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list lines="none">
      <ng-container *ngFor="let set of settings; let index = index">
          <!-- <h4 *ngIf="index === 0">Booking</h4> -->
        <ion-item-divider *ngIf="index === 0 || index === 2 || index === 7"></ion-item-divider>
        
        <ion-item button [routerLink]="set.link" routerDirection="forward">
          <ion-icon color="primary" slot="start" [name]="set.icon"></ion-icon>
          <ion-label>{{set.id}}</ion-label>
        </ion-item>
      </ng-container>
      <!-- <ion-item-divider></ion-item-divider>
      <ion-item button detail="false" [routerLink]="[ '/auth', 'login' ]" routerDirection="root">
        <ion-label color="danger">test</ion-label>
      </ion-item>
      <ion-item-divider></ion-item-divider> -->
    </ion-list>
  </ion-content>